/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#features
{
    text-align: center;
}

#features img
{
    margin: 0 0 20px;
}

#inputMessage
{
    margin-bottom: 15px;
}
.mynav
{
   /* background: #333; */
}

footer
{
    background : #333;
    color:#eee;
    font-size:11px;
    padding: 20px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */
body
{
-webkit-font-smoothing: antialiased;
text-rendering: optimizelegibility;
}


.well .page-header
{
    margin-top: 0px;
}

.well .page-header p
{
    margin-top: 0px;
    font-family: 'Merriweather', serif;
    
}

ul.unstyled
{
    list-style:none;
    padding:0;
}

#c1 {
    font-size: 50px;
    color:#041633;
    font-family: 'Merriweather', serif;
}
#p1 {
    color:#041633;
    font-size: 26px;
    padding-bottom: 3cm;
    font-family: 'Merriweather', serif;
}


#c2 {
    font-size: 50px;
    color:black;
    font-family: 'Merriweather', serif;
    
}
#p2 {
    color:black;
    font-size: 26px;
    padding-bottom: 3cm;
    font-family: 'Merriweather', serif;
}

#myCarousel
{
    margin : .5cm 0 .5cm ;
}

#c3 {
    font-size: 50px;
    color:black;
    text-shadow:1px 2px #eee;
    font-family: 'Merriweather', serif;
}
#p3 {
    color:black;
    font-size: 26px;
    text-shadow:1px 2px #eee;
    font-family: 'Merriweather', serif;
   }




/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchInput
    {
       width: 200px;
    }
        

   .navbar-brand
   {
    padding: 10px 15px;
   }

   .navbar-brand img
   {
       width:150px;
       height:30px;
       margin: 0;
   }
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */

   #myCarousel .item
   {
       height: 400px;
   }

   #slide1
   {
       background: url('../../images/P1.jpg') top center no-repeat;
   }

   #slide2
   {
       background: url('../../images/P2.jpg') top center no-repeat;
   }

   #slide3
   {
       background: url('../../images/P3.jpg') top center no-repeat;
   }


/* --------------------------------------
   Global Styles
   -------------------------------------- */

.well
{
    margin:0;
}
.alert
{
    margin-top: 20px;
    display: none;
}


.tabbable img
{
    margin: 0 10px 5px 0;

}

.tab-pane p{
    text-indent: 60px;
    text-align:justify;
}
.thumbnails
{
    margin: 20px 0;
}

.thumbnail
{
    position: relative;
}

.thumbnail h3{
    font-size:16px;
    margin: 0 0 10px;
    line-height: 20px;
}

.thumbnail .price
{
    font-size: 22px;
    position: absolute;
    top:-10px;
    right:-10px;
    padding 10px; 
}

.thumbnail .price sup
{
    font-weight: normal;
    font-size:12px;
}

.thumbnail span.glyphicon
{
    margin-right: 5px;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

    .thumbnail .price{
        font-size: 14px;
    }

    .thumbnail .price .sup
    {
        font-style: 10px;
    }
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

   #myCarousel .item
   {
       height: 310px;
   }

   #slide1
   {
       background: url('../../images/P1.jpg') top center no-repeat;
   }

   #slide2
   {
       background: url('../../images/P2.jpg' top center no-repeat;
   }

   #slide3
   {
       background: url('../../images/P3.jpg') top center no-repeat;
   }
	
}

/* Large desktop */
@media (min-width: 1200px) {


   #myCarousel .item
   {
       height: 500px;
   }

   #slide1
   {
       background: url('../../images/P1.jpg') top center no-repeat;
   }

   #slide2
   {
       background: url('../../images/P2.jpg') top center no-repeat;
   }

   #slide3
   {
       background: url('../../images/P3.jpg') top center no-repeat;
   }
	
}